* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 background-color: #ebebeb;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #4e4ebb;
  color: #fff;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}

.services {
  margin-top: 1rem;
  background-image: linear-gradient(#4c4c4c6d, #4b49497c) ,url(../images/shop.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100;
  height: 500px;
  color: #fff;
  padding: 10rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
  color: #3535c4;
}

img {
  width: 100%;
  height: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px -2px;
  
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  justify-self: center;
  gap: 9rem;
  margin-top: 1.5rem;
  box-shadow: 0 0 4px -2px;
  padding: 1rem;
}

.message {
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}

h4 {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.btn {
  background-color: #4e4ebb;
  color: #fff;
  border-radius: 6px;
  padding: 9px;
}